<% local_assigns[:attendees].each do |attendee| %>
    <div class="single-attendee">
      <%= image_tag avatar_url(current_user, 40), alt: "#{current_user.first_name}", class: 'profile-image' %>
      <%= link_to name(attendee), user_path(attendee), class: "user-name" %>
  </div>
<% end %>