<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-section" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    <% @latest_events.each_with_index do |latest_event, index| %>
      <% if index == 0 %>
      <div class="carousel-item active">
      <% else %>
      <div class="carousel-item">
      <% end %>
        <%= link_to image_tag(cloudinary_url(latest_event.event_image.key, cloud_name: "dkrunzl9g"), :cloud_name => "dkrunzl9g", class: "d-block carousel-item-image", alt: "event-#{index}"), event_path(latest_event) %>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= latest_event.title %></h5>
          <p><%= latest_event.date %></p>
        </div>
      </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>