// Place all the styles related to the attendences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.attendee-list {
  margin: 1.5rem auto;
}

.single-attendee {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.76);
  -moz-box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.76);
  box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.76);
}

.profile-image {
  margin-right: 1rem;
}

.user-name {
  margin-left: 1rem;
  font-weight: 800;
  color: #000;
  &:hover {
    text-decoration: none;
  }

}